div#App {
  max-width: 500px;
  margin: 25px auto;
  background-color: #666;
  padding: 25px;
}

h1 {
  font-family: 'Anton', sans-serif;
}

div#players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: 25px;
}

div#message {
  text-align: center;
  color: #FFF;
  margin: 25px 0;
}

div#board {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

div#board > div {
  border: solid thick #333;
  background-color: #333;
  color: #FFF;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

div#board > div:hover {
  opacity: 0.5;
  cursor: pointer;
}

div#board > div:nth-child(1) {
  border-right-color: #666;
  border-bottom-color: #666;
}

div#board > div:nth-child(2){
  border-bottom-color: #666;
}

div#board > div:nth-child(3){
  border-left-color: #666;
  border-bottom-color: #666;
}

div#board > div:nth-child(4){
  border-right-color: #666;
}

div#board > div:nth-child(6){
  border-left-color: #666;
}

div#board > div:nth-child(7){
  border-top-color: #666;
  border-right-color: #666;
}

div#board > div:nth-child(8){
  border-top-color: #666;
}

div#board > div:nth-child(9){
  border-top-color: #666;
  border-left-color: #666;
}

div#board > div > div.s-cell {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

div#board > div > div.m-cell {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

div#board > div > div.l-cell {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

div#board > div > div.x-cell {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

div#winner {
  text-align: center;
  color: #FFF;
}

div#winner > button {
  padding: 5px 15px;
  border: none;
  color: #FFF;
  background-color: #333;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  div#board {
    height: 250px;
    width: 250px;
    margin-bottom: 25px;
  }
  div#players {
    grid-template-columns: 1fr;
    max-width: 250px;
    margin: 0 auto;
  }
}